allowed_ssh_cidr = ["192.168.10.181/32"]
aws_region        = "af-south-1"
instance_type     = "t3.micro"
app_name          = "missing-trees-api"
key_name          = "missing-tree-key"
repository_url    = "https://github.com/RLain/missing-trees/"
repository_branch = "main"