allowed_ssh_cidr = ["YOUR_IP/32"]
aws_region        = "af-south-1"
instance_type     = "t3.micro"
app_name          = "missing-trees-api"
key_name          = "missing-trees-key"
repository_url    = "https://github.com/yourusername/your-flask-repo.git"
repository_branch = "main"